@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.hiringBlock {
  background-color: $bgColor;

  .hiringContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hiring {
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;

      .description {
        @include text($textFontFamily, 12px, 400, 1.8, $primaryTextColor);
      }
    }
  }
}

