@import '../common/styles/sass/variables.scss';

.footer {
  background-color: $bgColorPrimary;
  color: $primaryTextColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  .footerSocialContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerSocial {
      background-color: #f7f7f7;
      width: 40px;
      height: 40px;
    }
  }

  .description {

  }
}





