.footer {
  border: 1px solid;
  background-color: #f8e99f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerSocialContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerSocial {
      background-color: #f7f7f7;
      width: 40px;
      height: 40px;
    }
  }

  .description {

  }
}





